<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{template "header"}}
    <script type="text/javascript">
        $(function(){
            // $("#command").change(function () {
            //     var val = $("#command").val();
            //     if (val == 0){
            //         $("#gmParam").attr("placeholder", "玩家等级");
            //     }
            //     if (val == 2){
            //         $("#gmParam").attr("placeholder", "玩家VIP等级");
            //     }
            // });
            //
            // $("#cmdally").change(function () {
            //     var val = $("#cmdally").val();
            //     if (val == 3){
            //         $("#prmally").attr("placeholder", "工会等级");
            //     }
            //     if (val == 4){
            //         $("#prmally").attr("placeholder", "公会币数量");
            //     }
            // });
        });
    </script>
</head>
<body>
<div id="context" class="col-sm-8">
    <h2>GM</h2>
    <h5>角色GM命令</h5>
    <p>一些与角色相关的GM命令在此使用： 如角色升级等！</p>

    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#RoleDiv" data-toggle="tab">玩家</a>
        </li>
        <li><a href="#AllanceDiv" data-toggle="tab">公会</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="RoleDiv">
            <br />
            <form class="form-horizontal" id="gmRole" role="form" action="/gm/role" method="post">
                <div class="form-group">
                    <label for="command" class="col-xs-3 control-label">GM命令:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="command" name="command" placeholder="GM命令" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="gmParam" class="col-xs-3 control-label">参数:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="gmParam" name="gmParam" placeholder="命令参数" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="gmPlayer" class="col-xs-3 control-label">玩家:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="gmPlayer" name="gmPlayer" placeholder="玩家GUID" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-9">
                        <button type="submit" class="btn btn-default">执行</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="AllanceDiv">
            <br />
            <form class="form-horizontal" id="gmRole" role="form" action="/gm/alliance" method="post">
                <div class="form-group">
                    <label for="cmdally" class="col-xs-3 control-label">GM命令:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="cmdally" name="cmdally" placeholder="GM命令" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="prmally" class="col-xs-3 control-label">参数:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="prmally" name="prmally" placeholder="命令参数" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="gmPlayer" class="col-xs-3 control-label">公会GUID:</label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="gmPlayer" name="gmPlayer" placeholder="工会GUID" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-9">
                        <button type="submit" class="btn btn-default">执行</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>